@model List<CRUDApplication.Context.tbl_Student>

@{
    ViewBag.Title = "StudentList";
}

<h2>Student List</h2>

<table class="table table-hover">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Description</th>
        <th>Action</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Fname</td>
            <td>@item.Email</td>
            <td>@item.Mobile</td>
            <td>@item.Description</td>
            <td>
                <a href="@Url.Action("Student",new { item.Name,item.Fname,item.Email,item.Mobile,item.ID,item.Description })"><i class="glyphicon glyphicon-pencil"></i></a>
                <a href="@Url.Action("Delete",new {ID=@item.ID})"><i class="glyphicon glyphicon-trash"></i></a>
            </td>
        </tr>
    }


</table>